<a href="https://colab.research.google.com/github/dmhesketh/Python-fundamentals/blob/main/Getting_started_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Getting started**

In [ ]:
4-3 #simple maffs

1

In [ ]:
print("Hello, world!") #()parenthesis, ""open and closed bracket for string.

Hello, world!

In [ ]:
type({1,2,3}) #defining data types

set

In [ ]:
country_name = "United Kingdom"
city_name = "London"
print(country_name)
print(city_name)

United Kingdom
London

In [ ]:
len(country_name) #length of the string

14

In [ ]:
num=423
type(num)
str(num)

'423'

In [ ]:
num2=4.532
type(num2)

float

In [ ]:
int(num2) #converts float to integer, removes decimal point

4

In [ ]:
str_num="345"
type(str_num)

str

In [ ]:
int(str_num) #converts string to integer

345

In [ ]:
not_num="hey"
type(not_num)

str

In [ ]:
print("here is \nthe \"new\" line") #\n creates new line \t creates space \b moves back \"word\" creates quote

here is
the "new" line

In [ ]:
print("Their \rapparent intention was not honest") #\r removed text before

apparent intention was not honest

In [ ]:
mystring = "Hello"   #counts the letter corresponding to number.
                      #forward counting from 0, negative from 1
mystring
mystring[-4]

'e'

In [ ]:
mystring[2:4]  #returns letters 2-4

'll'

In [ ]:
mystring[:4] #returns letter 0-4 (4 not counted)

'Hell'

In [ ]:
mystring[::2] #skips one, prints one, skips one

'Hlo'

In [ ]:
mystring[::-1]   #print backwards

'olleH'

In [ ]:
str1 ="Hello today is" #concatinate two strings
str2 ="2nd November"
print(str1 +" "+ str2)

Hello today is 2nd November

In [ ]:
print(str1*5)   #prints 5 times

Hello today isHello today isHello today isHello today isHello today is

In [ ]:
str1 ="Hello today is\n"   #\n is new line
print(str1*3)

Hello today is
Hello today is
Hello today is

In [ ]:
print(str1 + str2)

Hello today is
2nd November

In [ ]:
"10"+"6"

'106'

In [ ]:
mystring2 ="line"   #shows where it is stored in the memory
print(id(mystring2))

140476726186672

In [ ]:
mystring3 = "HEY THIS IS A STRING"
mystring3.casefold()                  #Makes upper case into lowercase

'hey this is a string'

In [ ]:
mystring3 = "HEY HERE IS A STRING"
mystring3.split(",")

['HEY HERE IS A STRING']

In [ ]:
"my salary will be {} by next april".format(5000)

'my salary will be 5000 by next april'

In [ ]:
mystring4 ="my salary will be {} by next April" #adds variable to {}
salary = 5000
print(mystring4.format(salary))

my salary will be 5000 by next April

In [ ]:
mystring5 = "I bought {} kg of {} that cost me £{}"      #assinging variables
weight = 10
product ="mango"
value = 20
print(mystring5.format(weight,product,value))

I bought 10 kg of mango that cost me £20

In [ ]:
print("my %s will be %d by next April"%("salary",5000))   #make sure they are in order

my salary will be 5000 by next April

In [ ]:
print("my salary will be %d by next April and %f by June"%(5000,5200))

my salary will be 5000 by next April and 5200.000000 by June

In [ ]:
print("my %a will be 5000 by next April and 5200 by June"% "salary")

my 'salary' will be 5000 by next April and 5200 by June

In [ ]:
9%2

1

In [ ]:
(5+3*6.2/10)**2 #propa maffs mate

47.0596

In [ ]:
5<4

False

In [ ]:
5==4

False

In [ ]:
print(3==4)

False

In [ ]:
not(3>4) #showing how a double negative works, 3 is not greater than 4

True

In [ ]:
str6 ="My name is" 
str7 ="Daniel"
print(str6 +" "+ str7)

My name is Daniel

In [ ]:
var=10
var

10

In [ ]:
a = -1
if a>0:
  print("This number is positive")
  elif  a<0:
    print("This number is negative")
    else
      print("This number is 0")

SyntaxError: ignored

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(0,6):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
i=1
while i<5:
  print(i)
  i=i+1
print("The end")

1
2
3
4
The end

In [ ]:
targetvalue =5
iterate =0
while iterate<targetvalue:
  print("iteration number is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate =iterate+1

iteration number is 0, which is less than the target value 5
iteration number is 1, which is less than the target value 5
iteration number is 2, which is less than the target value 5
iteration number is 3, which is less than the target value 5
iteration number is 4, which is less than the target value 5

In [ ]:
colours =["blue", "red", "red", "black"]
cars=["Audi", "Tesla", "Ford", "BMW"]
for colour in colours:#out loop
  for car in cars: #inner loop
    print(colour, car)

blue Audi
blue Tesla
blue Ford
blue BMW
red Audi
red Tesla
red Ford
red BMW
red Audi
red Tesla
red Ford
red BMW
black Audi
black Tesla
black Ford
black BMW

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j, end=" " )
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  print("iteration number is {}, which is less than the target value {}".format(iterate, targetvalue))
  if iterate==3:
    break    #stops at iterate 3
  iterate =iterate+1

iteration number is 0, which is less than the target value 6
iteration number is 1, which is less than the target value 6
iteration number is 2, which is less than the target value 6
iteration number is 3, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
    continue
  print("The iteration value is {}, which is less than the target value {}".format(iterate, targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 4, which is less than the target value 6
The iteration value is 5, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
print(mylist)

['Michael', 'Sean', 'Adam']

In [ ]:
mylist[0]

'Michael'

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist[1:3]

['Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
print(len(mylist)) #length of list

5

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
if "Sean" in mylist:
  print("Yes the element exists")

Yes the element exists

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.insert(1, "John") #inserts into list
print(mylist)

['Michael', 'John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.append("Zara")
print(mylist)   #adds zara to end of list

['Michael', 'Sean', 'Adam', 5000, True, 'Zara']

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.insert(3, "Gary")
print(mylist)

['Michael', 'Sean', 'Adam', 'Gary', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.append("Dan")
print(mylist)

['Michael', 'Sean', 'Adam', 5000, True, 'Dan']

In [ ]:
mylist1=["Michael", "Sean", "Adam", 5000, True]
mylist2=["Zara", "Paul", "John"]
mylist2.extend(mylist1)   #combines both lists, adds list1 to list2
print(mylist2)

['Zara', 'Paul', 'John', 'Michael', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.remove(5000)   #removes specified item
print(mylist)

['Michael', 'Sean', 'Adam', True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.pop(4) removes value 3 (5000)
print(mylist)

['Michael', 'Sean', 'Adam', 5000]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]    #removes last item (true)
mylist.pop()
print(mylist)

['Michael', 'Sean', 'Adam', 5000]

In [ ]:
#sort
mylist=["Michael", "Sean", "Adam"]
mylist.sort
print(myslist)

NameError: ignored

In [ ]:
mylist=["Sean", "Michael", "Adam"]
mylist.reverse()
print(mylist)

['Adam', 'Michael', 'Sean']

In [ ]:
mylist=["Sean", "Michael", "Adam"]
mylist.reverse()
print(mylist)

['Adam', 'Michael', 'Sean']

In [ ]:
mylist=["milk", "cheese", "apples", "chocolate"]
print(mylist)

['milk', 'cheese', 'apples', 'chocolate']

In [ ]:
checkVar = str(input("Who do you want to check is attending the call? "))

ZoomCallMembers = ["Mercy", "Ezra", "Avado Host", "Anonymous"]
ZoomCallMembers.remove("Mercy")

if checkVar in ZoomCallMembers:
  print(f"{checkVar} is attending the Zoom call.")
else:
  print(f"{checkVar} is not attending the Zoom call.")

Who do you want to check is attending the call? Mercy
Mercy is not attending the Zoom call.

In [ ]:
#input
mylist =["google", "meta", "instagram", "tiktok", "snapchat"]
element = input("Please input tech co. name (in Capitalised form):")
if element in mylist:
  print("The tech co. already exists")
else: 
    mylist.append(element)
    print(mylist)

Please input tech co. name (in Capitalised form):Reddit
['google', 'meta', 'instagram', 'tiktok', 'snapchat', 'Reddit']

In [ ]:
mylist = ["Apple", "Orange", "Grape"]   #program to insert an item to list
response = input("Please enter a fruit ").title()

if response not in mylist:
  mylist.append(response)
else:
  print("That fruit is already on the list!")

print(mylist)

Please enter a fruit Banana
['Apple', 'Orange', 'Grape', 'Banana']

In [ ]:
#program to input car brands to list


mylist =["Porche", "Mercedes", "Jaguar", "Ferrari", "Ford"]
element = input("Please input car brand: ")
if element in mylist:
  print("The car brand already exists")
else: 
    mylist.append(element)
    print(mylist)

KeyboardInterrupt: ignored

In [ ]:
mylist =["google", "meta", "instagram", "tiktok", "snapchat"] #looping #returning each item seperately
for element in mylist:
  print(element)

google
meta
instagram
tiktok
snapchat

In [ ]:
#=2,4,6,8,10,12,14
a=[1,2,3,4,5,6,7]
b=[]
for i in a:
  b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
a=[1,2,3,4,5,6,7] #comprehensive way
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
mylist=[1000,20,20120,50,95,1021] #conventional way
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [ ]:
mylist=[letter.upper()for letter in "python"]
for element in mylist:
  print(element)

P
Y
T
H
O
N

In [ ]:
mylist=[letter.upper()for letter in "python"] #comprehensive
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mylist=[1,2,["a",1],3] #sublist
sublist=mylist[2]
print(sublist)

['a', 1]

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [ ]:
mydict={"employee":"Zara", "department":"operations", "last salary":5000}
mydict["departnemt"] ="sales"
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000, 'departnemt': 'sales'}

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)   #tuples
type(mytuple)

tuple

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)   #tuples
mytuple[1]

'Ford'

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)   #tuples
mytuple[0:3]

('Audi', 'Ford', 'Tesla')

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)   #tuples
mylist=list(mytuple) #changing tuple to list
mylist[0]="Toyota"
mytuple=tuple(mylist) #changing to a tuple
print(mytuple)

('Toyota', 'Ford', 'Tesla', 5000, True)

In [ ]:
mytuple=("Audi", "Ford", "Tesla", 5000, True)   
mytuple.index("Tesla")

2

In [ ]:
mytuple=("Audi", "Ford", "Audi", "Tesla", "Audi", 5000, True)   #tuples
mytuple.count("Audi")

3

In [ ]:
mytuple=("Audi", "Ford", "Audi", "Tesla", "Audi", 5000, True)   #tuples
for i in mytuple:
  print(i)

Audi
Ford
Audi
Tesla
Audi
5000
True

In [ ]:
mytuple=("Audi", "Ford", "Tesla")  
car1, car2, car3=mytuple #unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

In [ ]:
myset={"Audi", "Ford", "Tesla", 5000, True}   #set is {} brackets
print(myset)
len(myset)
type(myset)

{True, 'Ford', 5000, 'Audi', 'Tesla'}

set

In [ ]:
myset={"Audi", "Ford", "Tesla", 5000, True} 
for i in myset:
  print(i)

True
Ford
5000
Audi
Tesla

In [ ]:
myset={"Audi", "Ford", "Tesla", 5000, True} 
myset.add("apples")
print(myset)

{True, 'Ford', 5000, 'Audi', 'Tesla', 'apples'}